<!-- footer para una universidad -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Universidad</h3>
        <p>Universidad de la vida</p>
      </div>
      <div class="col-md-4">
        <h3>Redes Sociales</h3>
        <ul class="redes">
          <li>Facebook<a href="https://www.facebook.com/UCB.BOLIVIA"><i class="fa fa-facebook"></i></a></li>
          <li>YouTube<a href="https://www.youtube.com/@UCBLaPazBo"><i class="fa fa-youtube"></i></a></li>
          <li>TikTok<a href="https://www.tiktok.com/@lacato._?lang=en"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Información Contacto</h3>
        <ul class="contacto">
          <li><i class="fa fa-envelope"></i>
