/* CSS para los iconos de redes sociales */
.footer
{
    background-color: #004074;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
