<section class="all">
  <section class="photo-profile">

    <img class="img-profile" src="https://freesvg.org/img/abstract-user-flat-4.png">
    <h1 class="lbl-name-profile">Jose Armando Pozo Silva</h1>
    <!-- <button class="btn-interest">EDITAR INTERESES</button> -->
    <button type="button" class="btn-interest" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      EDITAR INTERESES
    </button>
  </section>
  <section class="personal-Information">
    <!-- hacer un formualario, el cual extraera datos de la base de datos
      nombre:                    jose
      apellido:                  pozo
      Fehca de Nac               12:abril:2000
    -->
    <h1 class="lbl-title">Informacion Personal</h1>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Nombre</h1>
          <label class="lbl">Nombre:</label>
          <input class="txt" type="text" value="Jose Armando">
        </div>
        <div class="col">
          <h1>Apellido</h1>
          <label class="lbl">Apellido:</label>
          <input class="txt" type="text" value="Pozo Silva">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>Fecha de Nacimiento</h1>
          <label class="lbl">Fecha de Nacimiento:</label>
          <input class="txt" type="text" value="28/10/1997">
        </div>
        <div class="col">
          <h1>Correo Electronico</h1>
          <label class="lbl">Correo Electronico:</label>
          <input class="txt" type="text" value="jose.pozo@ucb.edu.bo">
      </div>
     </div>
     <div class="row">
        <div class="col">
          <h1>Carrera</h1>
          <label class="lbl">Carrera:</label>
          <input class="txt" type="text" value="Ingenieria de Sistemas">
        </div>
      <div class="col">
        <h1>Genero</h1>
        <label class="lbl">Genero:</label>
        <!-- selccion de un drbbox -->
        <select class="txt">
          <option value="volvo">Masculino</option>
          <option value="saab">Femenino</option>
          <option value="mercedes">Otro</option>
        </select>


      </div>
     </div>

    </div>
    <br><br>
    <div>
      <button class="btn-edit-personal-info"> EDITAR INFORMACION PERSONAL</button>

      </div>
    <h1 class="address-info">DATOS DE DOMICILIO</h1>

    <section class="address">

      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Departamento</h1>
            <label class="lbl">Departamento:</label>
            <input class="txt" type="text" value="La Paz">
          </div>
          <div class="col">
            <h1>Ciudad</h1>
            <label class="lbl">Ciudad:</label>
            <input class="txt" type="text" value="La Paz">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>Calle</h1>
            <label class="lbl">Calle:</label>
            <input class="txt" type="text" value="Av. 6 de Agosto">
          </div>
          <div class="col">
            <h1>Numero</h1>
            <label class="lbl">Numero:</label>
            <input class="txt" type="text" value="123">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>Edificio</h1>
            <label class="lbl">Edificio:</label>
            <input class="txt" type="text" value="Edificio 1">
          </div>
          <div class="col">
            <h1>Piso</h1>
            <label class="lbl">Piso:</label>
            <input class="txt" type="text" value="1">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>Telefono</h1>
            <label class="lbl">Telefono:</label>
            <input class="txt" type="text" value="12345678">
          </div>
          <div class="col">
            <h1>Celular</h1>
            <label class="lbl">Celular:</label>
            <input class="txt" type="text" value="12345678">
          </div>
        </div>
      </div>
      <br><br>
      <div>
        <button class="btn-edit-address-info">EDITAR INFORMACION DOMICILIARIA</button>
      </div>

    </section>
    <h1 class="intereses">INTERESES</h1>
    <div>

    </div>

  </section>
</section>

<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Agregar intereses</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <h4>Añadir Categorias</h4>
            <div class="row">
              <div class="col-6">
                <div class="form-check" *ngFor="let or of category; let i=index">
                  <input class="form-check-input" type="checkbox" value="{{or.nombre_interes}}" >
                  <label class="form-check-label">

                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-btn-primary" >Agregar</button>
      </div>
    </div>
  </div>
</div>
