<section class="all">
  <section class="photo-profile">

    <img class="img-profile" src="https://freesvg.org/img/abstract-user-flat-4.png">
    
    <!-- <button class="btn-interest">EDITAR INTERESES</button> -->
    <button type="button" class="btn-interest" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      EDITAR INTERESES
    </button>
  </section>
  
  <section class="personal-Information">
    <!-- hacer un formualario, el cual extraera datos de la base de datos
      nombre:                    jose
      apellido:                  pozo
      Fehca de Nac               12:abril:2000
    -->
    <h1 class="lbl-title">Información Personal</h1>
    

    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Nombre: </h2>
          <label class="txt">Marcelo Gabriel</label>
        </div>
        <div class="col">
          <h2>Apellido: </h2>
          <label class="txt">Miranda Mollinedo</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Fecha de Nacimiento: </h2>
          <label class="txt">2/8/1999</label>
        </div>
        <div class="col">
          <h2>Correo Electronico:</h2>
          <label class="txt">marcelo.miranda@ucb.edu.bo</label>
      </div>
     </div>
     <div class="row">
        <div class="col">
          <h2>Carrera:</h2>
          <label class="txt">Ingenieria de Sistemas</label>
        </div>
      <div class="col">
        <h2>Genero:</h2>
        <label class="txt">Masculino</label>
      </div>
     </div>

    </div>
    
    <div>
      <button class="btn-edit-personal-info"> EDITAR INFORMACION PERSONAL</button>

      </div>
    <h1 class="address-info">DATOS DE DOMICILIO</h1>

    <section class="address">

      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Pais:</h2>
            <label class="txt">Bolivia</label>
          </div>
          <div class="col">
            <h2>Departamento:</h2>
            <label class="txt">La Paz</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Zona:</h2>
            <label class="txt">Sopocachi</label>
          </div>
          <div class="col">
            <h2>Dirección:</h2>
            <label class="txt">Av. Saavedra, 6 de agosto Nro 85889</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Piso:</h2>
            <label class="txt">1</label>
          </div>
          <div class="col">
            <h2>Correo Personal:</h2>
            <label class="txt">cmgm274@gmail.com</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Teléfono:</h2>
            <label class="txt">123456789</label>
          </div>
          <div class="col">
            <h2>Celular:</h2>
            <label class="txt">123456789</label>
          </div>
        </div>
      </div>
      
      <div>
        <button class="btn-edit-address-info">EDITAR INFORMACION DOMICILIARIA</button>
      </div>

    </section>
    <h1 class="intereses">INTERESES</h1>
    <div>

    </div>

  </section>
</section>

<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Agregar intereses</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <h4>Añadir Categorias</h4>
            <div class="row">
              <div class="col-6">
                <div class="form-check" *ngFor="let or of category; let i=index">
                  <input class="form-check-input" type="checkbox" value="{{or.nombre_interes}}" >
                  <label class="form-check-label">

                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-btn-primary" >Agregar</button>
      </div>
    </div>
  </div>
</div>
