<mat-grid-list cols="2" rowHeight="1.7:1">
  <mat-grid-tile>
    <img src="https://www.noticiasfides.com/images/news/2021/01/c-ucb1-407738-27D1.jpg">
  </mat-grid-tile>
  <mat-grid-tile class="container" style="background-color: #fac203">
    <h1 class="title">
      <small>Bienvenido</small>
      a la U.C.B</h1>
    <p class="parrafo">Como una de las mejores universidades del país, la U.C.B. impulsa el progreso de la sociedad boliviana formando el talento humano de los profesionales en distintas ramas del conocimiento, para resolver los problemas emergentes del contexto social y aportar con soluciones desde la perspectiva académica.</p>
  </mat-grid-tile>
  <mat-grid-tile class="container" style="background-color: #fac203">
    <p class="parrafo">Los graduados de la Universidad Católica Boliviana “San Pablo” han sido y son los principales actores y líderes de la conducción tanto en instituciones públicas como las más reconocidas organizaciones privadas, con lo cual se ha ganado el prestigio y reconocimiento de la sociedad boliviana.</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://www.paginasiete.bo/binrepository/124324_PS108675_MG170705370.jpg">
  </mat-grid-tile>
</mat-grid-list>
