<div class="panel" xmlns:cursor="http://www.w3.org/1999/xhtml">
  <h2 class="title-panel" >Solicitudes</h2>
  <div>
    <button (click)="null">Aceptar  </button>
    <button (click)="null">Rechazar</button>
  </div>
  <table class="table" >
    <thead class="text-center align-middle">
      <tr class="tr-colum-indicadores">
        <!--<th class="th-ind-num" >Número</th>
        <th class="th-ind-detalle">Descripción</th>
        <th class="th-ind-fecha">Fecha Solicitud</th>
        <th class="th-ind-fecha">Fecha Revisado</th>
        <th class="th-ind-detalle">Detalle</th>
        <th class="th-ind">Estado</th>-->

        <th class="th-ind-num" (click)="sortTable('solicitudid')">
          Número
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>
        <th class="th-ind-detalle" (click)="sortTable('descripcion')">
          Descripción
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>
        <th class="th-ind-fecha" (click)="sortTable('fecha_solicitud')">
          Fecha Solicitud
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>
        <th class="th-ind-fecha" (click)="sortTable('fecha_revisado')">
          Fecha Revisado
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>
        <th class="th-ind-detalle">Detalle</th>
        <th class="th-ind" (click)="sortTable('estado')" style="max-height: max-content; max-width: max-content">
          Estado
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>

        <th class="th-ind" (click)="sortTable('audiencia')" style="max-height: max-content; max-width: max-content">
          Audiencia
          <span >
            <i class="fa fa-chevron-{{sortDirection === 'asc' ? 'up' : 'down'}}" style="font-size:15px; cursor: pointer;"></i>
          </span>
        </th>

      </tr>
    </thead>
    <tbody class="text-center align-middle">
      <tr class="tr-solicitudes" *ngFor="let solicitud of solicitudes" [ngClass]="solicitud.referencia">

        <td class="tr-cont-num">{{ solicitud.solicitudid }}</td>
        <td style="text-align: justify"class="tr-cont">{{ solicitud.descripcion }}</td>
        <td class="tr-cont">{{ obtenerFecha1(solicitud.fecha_solicitud) }}</td>
        <td class="tr-cont">{{ obtenerFecha1(solicitud.fecha_revisado) }}</td>

        <!-- <td class="tr-cont">{{ solicitud.asunto }}</td> -->
        <!-- <td class="tr-cont">{{ obtenerFecha(solicitud.fecha) }}</td>
        <td class="tr-cont">{{ solicitud.hora }}</td> -->

         <!-- Cambie openPopup() por openDialog  -->

        <td><button name="{{solicitud.solicitudid}}" class="btn-view-Detail"  (click)="openDialog(solicitud.solicitudid )">Ver Detalle</button></td>
        <td class="tr-cont" style="font-style: italic; font-size:18px; font-weight: bold;"[ngClass]="getEstadoClass(solicitud.estado) ">
          <ng-container *ngIf="solicitud.estado === 1; else rechazado">Aprobado</ng-container>
          <ng-template #rechazado>Rechazado</ng-template>
        </td>
        <td class="tr-cont" style="font-style: italic; font-size:18px; font-weight: bold;">Audiencia ...</td>
        </tr>
      </tbody>
    </table>



</div>
